*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background: rgb(230,238,174);
background: radial-gradient(circle, rgba(230,238,174,1) 9%, rgba(184,229,186,1) 23%, rgba(196,231,183,1) 39%, rgba(174,227,189,1) 54%, rgba(32,197,228,1) 100%);
}