.content{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    margin: 1rem auto;
}

.button{
    background-color: white;
}

.button:hover{
    color: white;
    cursor: pointer;
}

