.page{
    background-image: url("https://images4.alphacoders.com/864/864574.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.card{
    width: 90rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    border: 0.3rem solid #fff;
    border-radius: 1rem;
    backdrop-filter: blur(0.3rem);
}

.content{
    width: 20%; 
    text-align: center;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: aliceblue;
}

.content h1{
    font-size: 2.4rem;
}

.content p{
    font-size: 1.5rem;
}

.content button{
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: aquamarine;
}

.poke{
    width: 65%;
}

.image{
width: 100%;
}
